
-wenn alle figuren zu hause sind darf man 3 mal würfeln
-aus dem haus nur mit einer 6
-wenn man eine 6 würfelt darf man nochmal würfeln
-so lange spielfiguren zu hause sind, gilt absetzen vor weiterlaufen
-so lange spielfiguren zu hause sind, gilt raussetzen vor weiterlaufen
-von der eigenen farbe dürfen mehrere figuren auf einem feld stehen
-wenn ein feld von einer farbe besetzt ist, wird die spielfigur rausgeschmissen, wenn die figur einer anderen farbe mit der würfelzahl auf das feld kommt
-überholen geht
-ins zielhaus mit der genauen würfelzahl (nur vor dem ziel haus muss man nicht setzen wenn man zu hoch gewürfelt hat)
-der erste der alle figuren ins ziel haus hatt hatt gewonnen
